{% extends "base.html" %}

{% block content %}

<div class = "SiteContent d-flex align-items-center justify-content-center" id="site-content">
  <div>
    <p class = "profile_box border border-dark rounded-circle"></p>
  </div>
  <div class = "FrontText p-2 mx-auto">
    <div class = "container align-items-center">
      <h2 class = "ProfileTextTitle">
        Mincheol Park
        <br>
        "Who am I?"
      </h2>
      <br>
      <p class = "ProfileTextSub m-b-5">
        - Passionate Language Learner 
        <br>
        - Bachelor in Physics and Big Data Science  
        <br>
        - Junior ML/RL Researcher
      </p>
    </div>
  </div>
</div>


{% endblock content %}