{% extends "base.html" %}
{% load static %}

{% block content %}

<div class = "SiteContent d-flex align-items-center justify-content-center" id="site-content">
  <div>
    <p class = "skills_box border border-dark rounded"></p>
  </div>
  <div class = "FrontText p-2 mx-auto">
    <div class = "container align-items-center">
      <h2 class = "FrontTextTitle">
        "What I got?"
        <br>
      </h2>
      <p class = "FrontTextSub">
        <p class = "skill_container"><img width = 64px src="{%static "css/home-icon.png" %}" alt=""></p>
        <p class = "skill_container"><img width = 64px src="{%static "css/home-icon.png" %}" alt=""></p>
        <p class = "skill_container"><img width = 64px src="{%static "css/home-icon.png" %}" alt=""></p>
        
      </p>
    </div>
  </div>
</div>




{% endblock content %}