{% extends "base.html" %}
{% block content %}

<main class = 'my-3 mx-5'>

  <h1> 회원 정보 수정 메뉴 </h1>
  <div class = 'my-3'>
    <form action="{% url "accounts:update" %}" method = "POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type = 'submit' class = 'btn btn-success' >회원정보 수정하기</button>
    </form>
  </div>
  <div>
    <form action="{% url "accounts:delete" %}" method = "POST">
      {% csrf_token %}
      <button type = 'submit' class = 'btn btn-danger' >회원탈퇴하기</button>
    </form>
  </div>


</main>

{% endblock content %}