<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
	<style>
    li {
      padding: 10px;
      border: 1px solid #ccc;
      margin: 10px 0;
      background-color: #f5f5f5;
    }
    .cheap {
      background-color: #e1f7e1;
    }
    .expensive {
      background-color: #f7e1e1;
    }
    .selected {
      background-color: #ffc;
    }
  </style>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <h1>다양한 전시 정보</h1>
    <label for="isActive">전시 중인 정보만 보기</label>
    <input type="checkbox" id="isActive" v-model="isActive">
    <hr>
    <ul v-for="exhibit of exhibitObjs" :key="exhibit.title">
      <!-- 객체 형태로 class 주기 -->
      <li :class="{'expensive': exhibit.price >= 20000, 'cheap': exhibit.price <= 5000, 'selected': exhibit.isSelected}">
        <div v-if="exhibit.isActive">
          <label for="isSelected">전시 관람 하기</label>
          <input type="checkbox" id="isSelected" v-model="exhibit.isSelected">
        </div>
        <div style="color: red;" v-else>
          <p>전시가 종료되어 관람 할 수 없습니다.</p>
        </div>
        <h3>{{ exhibit.title }}</h3>
        <hr> 
        <p>{{ exhibit.place }}</p>
        <p> 가격 : {{ exhibit.price }}</p>
        <p v-if="exhibit.price === 0">무료 전시입니다.</p>
        <hr>
      </li>
    </ul>
  </div>
  <script>
    const {createApp, ref, computed} = Vue
    const app = createApp({
      setup() {
        const exhibitObjs = ref([
          { title: '무라카미 다카시 : 무라카시좀비',
            place: '부산 시립 미술관',
            price: 1000,
            isActive: true,
            isSelected: false},
          { title: '마우라치오 카텔란 개인전',
            place: '리움 미술관',
            price: 30000,
            isActive: true,
            isSelected: false},
          { title: '조선백자전',
            place: '리움 미술관',
            price: 30000,
            isActive: true,
            isSelected: false},
          { title: '한국 실험미술 1960 - 1970',
            place: '국립현대미술관',
            price: 0,
            isActive: true,
            isSelected: false},
          { title: '에드워드 호퍼 : 길 위에서',
            place: '서울 시립 미술관',
            price: 1000,
            isActive: false,
            isSelected: false},
          { title: '알렉산더 칼더 x 이우환',
            place: '국제갤러리 서울점',
            price: 15000,
            isActive: false,
            isSelected: false},
        ])

        // isActive
        const isActive = ref(false)
        const isActiveExhibition = computed(() => {
          if (isActive.value) {
            return exhibitObjs.value.filter((exhib) => exhib.isActive)
          } else {
            return exhibitObjs.value
          }
        })

        return {
          exhibitObjs,
          isActiveExhibition,
          isActive,
        }
      }
    })

    app.mount('#app')
  </script>
</body>
</html>
