<nav class = 'navbar navbar-expand-lg bg-primary border-bottom'>
  <div class = 'container-fluid'>
    <a href="{% url "movies:index" %}" class = 'navbar-brand'>
      <h4>Movie</h4>
    </a>
    <button class = 'navbar-toggler' type = 'button' data-bs-toggle = 'collapse' data-bs-target = '#navbarNav'
    aria-expanded = 'false' aria-controls = 'navbarNav'  id = ''>
      <span class = 'navbar-toggler-icon'></span>
    </button>

    <div class = 'collapse navbar-collapse' id = 'navbarNav'>
      {% if request.user.is_authenticated %}
        <ul class = 'navbar-nav me-auto'>
          <li class = 'navbar-item'>
            <a href="#" class = 'nav-link'> 영화 등록 </a>
          </li>
          <li class = 'navbar-item'>
            <a href="{% url "accounts:update" %}" class = 'nav-link'> 회원정보수정 </a>
          </li>
          <li class = 'navbar-item'>
            <a href="{% url "accounts:profile" request.user.pk %}" class = 'nav-link'> 프로필 </a>
          </li>
          <li class = 'navbar-item'>
            <form action="{% url "accounts:logout" %}" method = 'POST'>
              {% csrf_token %}
              <button class = 'btn nav-link'>로그아웃</button>
            </form>
          </li>
        </ul> 
        <span class = 'navbar-item navbar-text'> 반갑습니다. <a href="{% url "accounts:profile" request.user.pk %}" class = 'link-light'> {{ request.user }} </a>님 </span>
        
        {% else %}
          <ul class = 'navbar-nav'>
            <li class = 'navbar-item'>
              <a href="{% url "accounts:signup" %}" class = 'nav-link'> 회원가입 </a>
            </li>
          
            <li class = 'navbar-item'>
              <a href="{% url "accounts:login" %}" class = 'nav-link'> 로그인 </a>
            </li>
          </ul> 
        {% endif %}

    </div>
  </div>
</nav>