<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article</title>
</head>
<body>
  <header>
    <h1>Create an Article</h1>
    <hr>
  </header>

  <main>
    <form action="{% url "articles:create" %}" method = "POST">
      {% csrf_token %}
      <div>
        <input type="text", name = "title">
      </div>
      <div>
        <input type="text", name = "content">
      </div>
      <input type="submit">
    </form>
    <hr>
    <a href="{% url "articles:index" %}"> [Back to the Main] </a>

  </main>


</body>
</html>