{% extends "base.html" %}

{% block content %}

<div class = "SiteContent d-flex align-items-center justify-content-center" id="site-content">
  <div>
    <p class = "contact_box border border-dark rounded-circle"></p>
  </div>
  <div class = "FrontText p-2 mx-auto">
    <div class = "container align-items-center">
      <h2 class = "FrontTextTitle">
        AI Scientist
        <br>
        : Being in Virtual World
      </h2>
      <p class = "FrontTextSub">
        "I do make a virtual enviorment"
        <br>
        "researching Enviormental Adaptation by ML/RL"
        <br>
        "with Python, C#, Unity, Pytorch"
      </p>
    </div>
  </div>
</div>




{% endblock content %}