<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>
    <form @submit.prevent="addTodo">
      <input type="text" v-model="inputText">
      <input type="submit" value="Add">
    </form>

    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todos = ref([
          {'id': (Date.now()-3), 'text':'장 보러 마트가기', 'isCompleted':false},
          {'id': (Date.now()-2), 'text':'냉장고 정리하기', 'isCompleted':true},
          {'id': (Date.now()-1), 'text':'할머니 얼굴 뵈러 본가 가기', 'isCompleted':true},
        ])

        const inputText = ref('')
        const addTodo = function () {
          const todoText = inputText.value
          const newTodo = {'id': Date.now(), 'text':todoText, isCompleted:false}
          console.log()
          if (newTodo.text !== '') {
            todos.value.push(newTodo)
          }
        }

        const deleteTodo = function (id) {
          console.log(id)
          const idx = todos.value.findIndex((todo) => todo.id === id)
          todos.value.splice(idx, 1)
        }

        return {
          todos,
          inputText,
          addTodo,
          deleteTodo

        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
